
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:sans-serif;
    background-color: #f0f0f0;
}

/* ------ Header -----*/

header {
    background-color: #333;
    color: #fff; 
    padding: 20px 0; 
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto; 
}

.logo {
    font-size: 38px;
    font-weight: bold;
    margin-right: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px; 
}

.nav-links a {
    text-decoration: none;
    color: #fff; 
    font-weight: 500;
    font-size: 16px; 
}


.nav-links a:hover {
    text-decoration: underline;
}

.section {
    padding: 40px;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#about img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
}

#skills ul {
    list-style: none;
}

#skills li {
    margin-bottom: 10px;
}

.project {
    display: flex;
    margin-bottom: 20px;
}

.project img {
    max-width: 100px;
    margin-right: 20px;
}

.project h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

  /* -------  footer ------  */
.media {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #222; 
}
.media h4{
    font-size: 18px;
    color: #ffffff;
    text-transform:capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position:relative;
}

.media h4::before{
    content:normal;
    position:relative;
    left:0%;
    bottom: -10px;
    height: 20px;
    box-sizing: border-box;
    width: 50px;

}

.social_link a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}
  
.social_link a img {
    width: 40px;
    height: 40px;
}
  
.container {
    text-align: center;
    background-color: #161616;
    color: #fff;
    padding: 10px;
}
  
.copyright p {
    margin: 0;
    font-size: 14px;
}
  

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .nav.active .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #333;
        padding: 20px;
    }
}


